.list-reset {
    padding-left: 0;
    list-style: none;
}

.link-reset {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.section-padding {
    padding: 100px 0;

    @include medium {
        padding: 3.125rem 0;
    }
}

.section-padding-top {
    padding-top: 100px;

    @include medium {
        padding-top: 3.125rem;
    }

    &--xl {
        padding-top: 160px;

        @include medium {
            padding-top: 5rem;
        }
    }

    &--lg {
        padding-top: 5rem;
    }

    &--md {
        padding-top: 2.5rem;
    }
}

.section-padding-bottom {
    padding-bottom: 100px;

    @include medium {
        padding-bottom: 3.125rem;
    }

    &--xxl {
        padding-bottom: 200px;
    }

    &--lg {
        padding-bottom: 5rem;
    }

    &--md {
        padding-bottom: 2.5rem;
    }
}

.section-margin {
    margin-top: 5rem;

    @include medium {
        margin-top: 2.5rem;
    }

    &--md {
        margin-top: 2.5rem;
    }
}

.section-margin-bottom {
    margin-bottom: 5rem;

    @include medium {
        margin-top: 2.5rem;
    }

    &--md {
        margin-bottom: 2.5rem;
    }
}

.header-margin {
    margin-bottom: 1.5rem;

    @include medium {
        margin-bottom: 1rem;
    }

    &--inner {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;

        @include medium {
            margin-bottom: 0.5rem;
        }
    }
}

.custom-navigation {

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            content: none;
        }
    }

    .swiper-button-disabled {
        box-shadow: 4px 4px 9px rgba(233, 233, 233, 0.25);
        cursor: no-drop;

        @include medium {
            box-shadow: none;
        }

        .icon-arrow-up {
            color: $neutral-gray-light;
        }

        &:hover,
        &:focus {
            box-shadow: 4px 4px 9px rgba(233, 233, 233, 0.25);

            @include medium {
                box-shadow: none;
            }

            .icon-arrow-up {
                color: $neutral-gray-light;
            }
        }
    }
}

.custom-navigation__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include max-screen(1375px) {
        width: 52px;
        height: 52px;
    }

    @include medium {
        top: 0;
        transform: translateY(-22px);
        width: 21px;
        height: 21px;
        box-shadow: none;
        background-color: transparent;
    }

    &:hover {
        //background-color: $white;

        @include medium {
            box-shadow: none;
        }

        .icon-arrow-up {
            color: $neutral-warm-contrast;
        }
    }

    &:focus {
        //background-color: $white;

        @include medium {
            box-shadow: none;
        }

        @include medium {
            box-shadow: none;
        }

        .icon-arrow-up {
            color: $neutral-warm-contrast;
        }
    }

    .icon-arrow-up {
        font-size: 32px;
        color: $primary-1;
        transition: all .3s ease-in-out;

        @include medium {
            font-size: 21px;
        }
    }

    &--next {
        right: -36px;
        left: auto;

        .icon-arrow-up {
            transform: rotate(90deg);
        }

        @include max-screen(1375px) {
            right: -15px;
        }

        @include medium {
            right: 0;
        }
    }

    &--prev {
        right: auto;
        left: -36px;

        .icon-arrow-up {
            transform: rotate(-90deg);
        }

        @include max-screen(1375px) {
            left: -15px;
        }

        @include medium {
            right: 38px;
            left: auto;
        }
    }
}

.desktop-hide {
    display: none;

    @include medium {
        display: block;
    }
}

.mobile-hide {
    display: block;

    @include medium {
        display: none;
    }
}

.visible {
    display: block;
}

.content-hide {
    display: none !important;
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 0px;
}

.t-btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: relative;
}

.t-btn {
    cursor: pointer;
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 1fr;
    transition: all 0.3s ease-in-out;
}

.t-panel {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    height: auto;
    max-height: 0px;

    &.active {
        opacity: 1;
        height: auto;
        max-height: 99em;

        @include medium {
            max-height: 1200px;
        }
    }
}

.form-input {
    border-radius: 48px;
    background-color: $white;

    &--middle {
        padding: 15px 1.5rem;
    }
}

.zoom-img {
    position: relative;
    opacity: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;

        @include phone {
            display: none;
        }
    }

    &:hover {
        opacity: 0;

        @include phone {
            opacity: 1;
        }
    }
}

.anime {
    transform: scale(0);
    opacity: 0;
}

.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.w33 {
    width: calc(100% / 3);
    float: left;
    clear: none !important;

    @include max-screen(920px) {
        width: 100% !important;
    }
}

.w33-p {
    padding: 0 .625rem !important;

    @include max-screen(920px) {
        padding: 0 !important;
    }
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }

    100% {
        visibility: hidden;
        flex-basis: 0;
        width: 0;
        height: 0;
        max-width: 0;
        font-size: 0;
        margin: 0;
    }
}

span.price {
    color: $neutral-gray-dark !important;
    font-size: 1rem !important
}