.brand {
    text-align: center;
    padding-left: 1.875rem; // Converted from 30px
    padding-right: 1.875rem; // Converted from 30px
    position: relative;

    @include medium {
        padding-left: 1rem; // Converted from 15px
        padding-right: 1rem; // Converted from 15px
    }

    &.section-padding {
        padding: 0; // Unchanged
    }

    &.bg--gradient {
        background: transparent; // Unchanged
    }
}

.brand__image {
    position: absolute;
    bottom: -3.125rem; // Converted from 50px
    right: 2%;

    @include medium {
        display: none; // Unchanged
    }
}

.brand-wrapper {
    background-color: $neutral-warm-light;
    border-radius: 1rem; // Converted from 16px
    padding: 6.25rem 5rem; // Converted from 100px 80px

    .ast-container {
        display: block;
    }

    @include medium {
        padding: 3.125rem 0.75rem; // Converted from 50px 12px
    }

    .btn--anchor {
        @include button-styles;
        background-color: var(--ast-global-color-0);
    }
}

.brand__caption {
    max-width: 566px; // Unchanged
    margin-left: auto;
    margin-right: auto;

    @include medium {
        max-width: 80%; // Unchanged
        margin-bottom: 0; // Unchanged
    }
}

.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3.5rem; // Converted from 56px
    margin-bottom: 4.5rem; // Converted from 72px

    @include medium {
        justify-content: space-evenly; // Unchanged
        margin-top: 0; // Unchanged
        margin-bottom: 2rem; // Converted from 32px
        flex-direction: column;
        margin-left: 0px;
    }
}

.brand__item {
    @include medium {
        margin-top: 2rem; // Converted from 33px
        flex-basis: calc(33.33333% - 0.625rem); // Converted from calc(100% / 3 - 10px)
    }

    img {
        max-height: 110px; // Unchanged.
        object-fit: contain;
        transition: all .3s ease-in-out;
    }
}

.brand__item-link {
    width: 100%;
    height: 100%;
    display: block;
    transition: all .3s ease-in-out;

    &:hover {
        img {
            filter: grayscale(0);
        }
    }
}