.category {
    &--brands {
        .category__wrapper {
            grid-template-columns: 100%;
        }

        .category__products-list {
            grid-template-columns: repeat(5, 1fr);

            @include medium {
                grid-template-columns: repeat(4, 1fr);
            }

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            @include phone {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .bapf_sfa_taxonomy {
        &>span {
            display: none;
        }
    }

    .bapf_sfa_unall {
        display: none;
    }

    .woocommerce-pagination {
        display: none;
    }

    .woocommerce-result-count {
        margin-right: auto;
    }

    .woocommerce-ordering {
        margin-left: 0;

        position: relative;

        &:hover {
            @media (hover: hover) {
                &::before {
                    border-color: #8eb354;
                }
            }
        }

        &::before {
            content: '';

            width: 8px;
            height: 8px;
            border-right: 2px solid #dadada;
            border-bottom: 2px solid #dadada;

            position: absolute;
            top: 11px;
            right: 15px;
            transform: rotate(45deg);

            @media (min-width: 1025px) {
                top: 13px;
            }
        }

        .orderby {
            padding: 8px 32px 8px 15px;
        }
    }

    .bapf_head {
        cursor: pointer;
    }
}

.category__wrapper {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 24px;

    @include max-screen(1100px) {
        grid-template-columns: 28% 1fr;
    }

    @include max-screen(882px) {
        grid-template-columns: 260px 1fr;
    }

    @include max-screen(768px) {
        grid-template-columns: 1fr;
    }

    @media (min-width: 1280px) {
        grid-column-gap: 80px;
        grid-template-columns: 1fr 3fr;
    }

    @media (min-width: 1440px) {
        grid-column-gap: 120px;
    }

    .lmp_button {
        border-radius: 56px !important;
        font-size: 16px !important;
        min-width: 263px;
        margin-top: 48px !important;

        @include phone {
            min-width: auto;
            width: 100%;
        }
    }

    .lmp_load_more_button.br_lmp_button_settings .lmp_button {
        background-color: $color-green-dark !important;

        transition: 300ms ease !important;

        &:hover {
            background-color: #8eb354 !important;

            @media (hover: hover) {
                background-color: $neutral-green-dark !important;

                color: #ffffff !important;
            }
        }
    }
}

.category__filter {
    flex-basis: 32%;
    padding: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    height: max-content;

    @include max-screen(1173px) {
        flex-basis: 28%;
    }

    @include medium {
        flex-basis: calc(100% / 3);
    }

    @include tablet {
        padding: 16px;
    }

    @include max-screen(768px) {
        flex-basis: 100%;
    }

    @include phone {
        flex-basis: 100%;
    }

    &>* {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .bapf_head>div {
        margin-bottom: 16px;

        font-size: 24px;
        line-height: 1.3;
        font-weight: 600;

        i {
            font-family: icon-font;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            transition: all .3s ease-in-out;

            &::before {
                content: "\ea02";
            }
        }
    }

    .bapf_sfilter {
        &.bapf_ccolaps {
            i {
                transform: rotate(0deg);
            }
        }

        &.bapf_ocolaps {
            i {
                transform: rotate(180deg);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .bapf_body {
        /*.bapf_show_hide {
        display: inline-block;
  
        margin-bottom: 16px;
  
        color: #6f9238;
        text-transform: uppercase;
      }*/

        .braapf_unselect,
        .braapf_unselect_all {
            text-decoration: none;
            color: $neutral-1;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            background-color: $neutral-warm-middle;
            border-radius: 40px;
            padding: 5px 28px;
            display: flex;
            align-items: center;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $neutral-warm-light;
                color: $neutral-warm-dark;
            }

            i {
                margin-left: 10px;
                order: 2;
                font-size: 10px;

                &::before,
                &::after {
                    content: '';
                    width: 10px;
                    height: 1px;
                    background-color: $neutral-1;
                    display: inline-flex;
                    position: absolute;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
        }

        .bapf_sfa_unall {
            margin-top: 0;
        }

        .bapf_sfa_unall,
        .bapf_sfa_taxonomy {
            ul {
                margin-bottom: 0;
            }
        }

        ul {
            padding-left: 0;
            overflow-y: auto;
            max-height: 190px;

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
                background-color: #fafafa;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #fafafa;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #6f9238;
            }
        }

        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 15px !important;

            &.checked {
                label {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            label {
                position: relative;
                padding-left: 30px;
                transition: all .3s ease-in-out;
                max-width: 180px;

                @include tablet {
                    padding-left: 25px;
                    max-width: 90%;
                }

                &:hover {
                    border-color: $primary-1;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                    border: 1px solid $neutral-gray;
                    border-radius: 3px;
                    transition: all .3s ease-in-out;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 9px;
                    opacity: 0;
                    background-color: $primary-1;
                    width: 6px;
                    height: 6px;
                }
            }

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 1.4;
                color: $color-grey-dark;
                display: inline-block;
                margin-top: -7px;
            }
        }
    }

    .bapf_slidr_jqrui {
        .bapf_slidr_all {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .bapf_slidr_main {
            flex-basis: 100%;

            .ui-slider-range {
                background: $neutral-gray !important;
            }

            .ui-slider-handle {
                background: $primary-1 !important;
            }
        }

        .bapf_from,
        .bapf_to {
            border: 1px solid $neutral-gray;
            border-radius: 3px;
            padding: 8px 16px;
            color: $neutral-gray;
            margin-bottom: 25px;

            @include tablet {
                padding: 8px 6px;
            }
        }
    }

    .bapf_button_berocket {
        .bapf_button {
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 1.3 !important;
            color: $color-green-dark !important;
            background-color: $white !important;
            width: 100%;
            padding: 16px !important;
            text-transform: capitalize !important;
            border-radius: 56px;
            border: 1px solid $primary-1 !important;
            transition: all .3s ease-in-out;

            &:hover {
                color: $white !important;
                background-color: $primary-1 !important;
            }
        }
    }
}

.category__filter-list {
    @include phone {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.category__filter-item {
    margin-bottom: 40px;

    @include medium {
        margin-bottom: 20px;
    }

    @include phone {
        flex-basis: 100%;
    }

    .product__item-rating-stars {
        margin-right: 12px;
    }

    .product__item-rating-star {
        font-size: 14px;

        &--solid {
            color: $primary-1;
        }
    }
}

.category__filter-item-search {
    margin-top: 24px;
    margin-bottom: 8px;

    @include medium {
        margin-top: 8px;
    }

    @include phone {
        width: 100%;
    }
}

.category__filter-item-search-input {
    @include medium {
        padding: 13px 20px;
        font-size: 14px;
        line-height: 1.4;
    }
}

.category__filter-item-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $neutral-1;

    .heading-4 {
        margin-bottom: 0;
    }
}

.category__filter-item-content {
    margin-top: 8px;

    @include phone {
        display: flex;
        flex-wrap: wrap;
    }
}

.category__filter-item-label {
    display: flex;
    align-items: center;
    margin-top: 11px;
    padding-top: 5px;
    padding-left: 28px;
    color: $neutral-1;
    cursor: pointer;
    text-transform: capitalize;

    @include medium {
        margin-top: 3px;
        padding-left: 16px;
    }

    @include phone {
        margin-right: 14px;
        display: inline-flex;
    }

    &--category {
        border-radius: 40px;
        padding-bottom: 5px;
        padding-right: 28px;
        width: fit-content;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        transition: all .3s ease-in-out;

        @include medium {
            padding-left: 22px;
        }

        @include phone {
            padding-left: 10px;
            padding-right: 10px;
        }

        &:hover,
        &.active {
            background-color: $neutral-warm-middle;
        }
    }
}

.category__filter-item-count {
    color: $neutral-gray;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    padding-left: 6px;
    align-self: flex-start;
}

.category__filter-item-box {
    position: static;
    margin-left: -28px;
    margin-right: 10px;
    overflow: hidden;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid $neutral-gray;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include medium {
        margin-left: -16px;
        margin-right: 6px;
    }

    &::after {
        content: '';
        position: static;
        top: auto;
        left: auto;
        opacity: 0;
    }

    &--radio {
        border-radius: 50%;

        &::after {
            width: 8px;
            height: 8px;
            background-color: $primary-1;
            border-radius: 50%;
        }
    }

    &--checkbox {
        border-radius: 3px;

        &::after {
            top: 5px;
            width: 6px;
            height: 6px;
            background-color: $primary-1;
        }
    }

    &--category {
        position: absolute;
        width: 100%;
        height: 100%;
        border-width: 0;
        z-index: -1;
    }
}

.category__filter-item-input:checked+.category__filter-item-box {
    border: 1px solid $primary-1;

    &::after {
        opacity: 1;
    }

    &--radio {
        &::after {
            opacity: 1;
        }
    }

    &--checkbox {
        background-color: $white;
    }

    &--category {
        border: 0px solid rgba(255, 255, 255, 0);
        background-color: $neutral-warm-middle;
    }
}

.category__filter-item-input:hover+.category__filter-item-box,
.category__filter-item-input:focus+.category__filter-item-box {
    border: 1px solid $primary-1;
    transition: all .3s ease-in-out;

    &--category {
        border: 0px solid rgba(255, 255, 255, 0);
        background-color: $neutral-warm-middle;
    }
}

.check__input:disabled+.check__box {
    opacity: 0.5;
}

.check__input:checked:disabled+.check__box {
    &--radio {}

    &--checkbox {
        background-color: $primary-1;
    }
}

.category__filter-item-btn-more {
    margin-top: 24px;
    font-size: 16px;

    @include medium {
        margin-top: 12px;
    }

    @include phone {
        flex-basis: 100%;
    }
}

.category__filter-item-range {
    position: absolute !important;
    width: 1px;
    height: 1px !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.category__filter-item-range-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    @include medium {
        margin-top: 18px;
    }
}

.category__filter-item-range-input {
    border: 1px solid $neutral-gray;
    border-radius: 3px;
    max-width: 151px;
    width: 48%;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: $neutral-gray;

    @include medium {
        padding: 5px 12px;
    }
}

.category__products {
    flex-grow: 1;
    flex-basis: min-content;
    text-align: center;

    @include max-screen(768px) {
        flex-basis: 100%;
        margin-top: 24px;
        padding-left: 0;
    }

    @include phone {
        flex-basis: 100%;
        margin-top: 24px;
        padding-left: 0;
    }

    .category__products-list {
        margin-top: 32px;
        padding-top: 0;
    }
}

.category__products-list {
    flex-wrap: wrap;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 24px;

    @media (min-width: 375px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 480px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 769px) {
        grid-row-gap: 48px;
    }

    @media (min-width: 1025px) {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 24px;
    }
}

.category__products-item {
    background-color: $white;
    margin-bottom: 0;
    position: relative;
    text-align: left;

    &:hover {
        overflow: visible;
        z-index: 2;

        @include medium {
            box-shadow: none;
        }

        .category__products-item-btn-wrapper {
            z-index: 2;
            opacity: 1;
            transform: translateY(0);
        }
    }

    @include medium {
        padding-bottom: 0;
        margin-bottom: 24px;
    }

    @include max-screen(685px) {
        flex-basis: 50%;
    }

    @include phone {
        flex-basis: 50%;
    }

    .products__item-prices {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: #07423D;

        @include medium {
            flex-grow: 0;
        }
    }

    .category__products-item-btn {
        flex-basis: auto;
        width: 100%;
        padding: 16px 0;

        @include medium {
            width: auto;
        }
    }
}

.category__products-item-btn-wrapper {
    position: absolute;
    bottom: -55px;
    background-color: $white;
    width: auto;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 17px 17px rgba(160, 160, 160, .15);
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    opacity: 0;
    transform: translateY(-80%);
    transition: all .3s ease-in-out;

    @include medium {
        text-align: left;
        box-shadow: none;
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
        padding: 0;
        position: relative;
        bottom: auto;
    }

    @media (max-width: 1024px) {
        display: flex;
        justify-content: center !important;
    }

    .btn {
        padding: 10px 16px;
        flex-basis: auto;
        width: -webkit-fill-available;

        @include medium {
            width: auto;
        }

    }
}

.category__products-btn {
    &--more {
        transition: all .3s ease-in-out;
    }

    &--end {
        cursor: no-drop;
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0);
        color: $neutral-1;

        &:hover,
        &:focus {
            background-color: transparent;
            border-color: rgba(255, 255, 255, 0);
            color: $neutral-1;
        }
    }
}

.category__products-wrapper {
    margin-bottom: 24px;

    text-align: left;

    @include medium {
        font-size: 14px;
    }

    .category__products-sorts {
        margin-left: auto;
        margin-right: 0;
    }
}

.category__products-results {
    display: flex;
}

.category__products-count {
    &--show {
        padding: 0 4px;
    }
}

.category__products-brands {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    @include max-screen(1190px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include medium {
        grid-template-columns: repeat(3, 1fr);
    }

    @include max-screen(920px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.category__products-brands-wrapper {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $neutral-white-middle;
    border-radius: 16px;
    box-shadow: none;
    padding: 25px 16px 16px;
    text-align: center;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $white;
        box-shadow: $box-shadow-2;

        .heading-5 {
            color: $neutral-1;
        }
    }

    .heading-5 {
        color: $neutral-gray-dark;
    }
}

.category__products-brands-image {
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    //border-radius: 50%;
    //background-color: $white;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    position: relative;
    overflow: hidden;

    @include tablet {
        width: 100px;
        height: 100px;
    }

    picture {
        /*max-width: 160px;
      max-height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      @include tablet {
        max-width: 80px;
        max-height: 80px;
      }*/
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.category__products-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    align-items: center;
    justify-content: start;

    @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }

    &>* {
        &:empty {
            display: none;
        }
    }

    .woocommerce-ordering {
        order: 2;

        @media (min-width: 480px) {
            justify-self: end;

            width: 100%;
            max-width: 320px;
        }

        select {
            width: 100%;
        }
    }

    .woocommerce-result-count {
        order: 0;

        @media (min-width: 480px) {
            grid-column: 1 / 2 span;
        }
    }

    div {
        &:not([class]) {
            order: 1;
        }

        form {
            display: flex;
            align-items: center;

            position: relative;

            font-size: 16px;

            @media (min-width: 480px) {
                justify-self: start;

                max-width: 320px;
            }

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border-right: 2px solid #dadada;
                border-bottom: 2px solid #dadada;
                position: absolute;
                top: 11px;
                right: 15px;
                transform: rotate(45deg);
            }

            select {
                flex-grow: 1;

                margin: 0;
                margin-left: 8px;
                border: 1px solid #dadada;
                border-radius: 8px;
                padding: 8px 32px 8px 15px;
                font-size: 14px;
                color: $color-grey-dark;
                cursor: pointer;

                &:focus {
                    outline: none;
                    border-color: #6f9238;
                    color: $neutral-green-dark;
                }
            }
        }
    }
}