.cta-block {
    text-align: center;
    position: relative;
    z-index: 1;

    .ast-container {
        @include ast-container-padding;

        .container {
            padding: 0;
            position: relative;
            width: 100%;
        }
    }
    
    .cta-block__heading {
        max-width: 756px;
        color: $white;
        margin: auto;
    }
    .cta-block__subheading {
        color: $white;
        margin-bottom: 1.5rem;
    }
}

.cta-block__wrapper {
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 200px;
    background-color: rgba($black, 0.3);
    overflow: hidden;

    &.section-padding {
        padding: 100px 0;
    }
    @include phone {
        border-radius: 3.75rem; // Changed from 60px
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &>*:not(picture) {
        position: relative;
    }

    &::before {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: rgba($black, .1);
    }
}

.cta-block__caption {
    max-width: 633px;
    color: $white;
}

.cta-block__btn-wrapper {
    flex-basis: 100%;

    .btn--primary {
        @include button-styles;
        background-color: $neutral-green;

    }
}

.info-cta__disclosure {
    max-width: 827px;
    margin: 3.5rem auto 0; // Changed from 56px

    @include medium {
        margin-top: 1.875rem; // Changed from 30px
    }
}

.info-cta__disclosure-heading {
    color: $neutral-1;
}

.info-cta__disclosure-caption {
    color: $neutral-2;
}