
.ast-header-account-wrap {
  .ast-account-action-link {
    @include button-styles;
    background-color: #fff;
    padding: 13px 20px;
    color: #55761f;
    
    &:hover {
      background-color: #55761f;
      color: $white;
    }
  }
}
.site-header-section {
  .ast-header-account {
    // padding-top: 5px;
    padding-left: 0px;
  }
}
#ast-desktop-header {
  @include medium {
    // display: none;
  }
}

// .header {
//     background-color: $white;
//     position: sticky;
//     top: 0;
//     right: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1001;
  
//     @include medium {
//       box-shadow: 4px 4px 9px rgba(233, 233, 233, 0.25);
//     }
  
//     &--shadow {
//       box-shadow: 4px 4px 9px rgba(233, 233, 233, 0.25);
//     }
// }
  
// .header__banner {
  
//     height: 0;
  
//     transform: translateY(-50%);
//     visibility: hidden;
  
//     background-color: $neutral-warm;
//     opacity: 0;
//     transition: $transition-base;
  
//     .container {
//       height: 45px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       position: relative;
//     }
// }

// .header__nav {
//     height: 93px;
//     display: flex;
//     align-items: center;

//     @include medium {
//         height: 74px;
//     }

//     @include phone {
//         box-shadow: 4px 4px 9px rgba(233, 233, 233, 0.25);
//     }

//     .container {
//         display: flex;
//         align-items: center;
//         width: 1252px;
//         max-width: 100%;
//         margin: 0 auto;
//         padding-right: 1rem;
//         padding-left: 1rem;
//     }
// }

//   .header {
//     &.bar-shown {
//       .header__banner {
//         height: var(--header-banner-height);
  
//         transform: translateY(0);
//         visibility: visible;
//         opacity: 1;
//       }
//     }
//   }
  
//   .header__banner-text {
//     color: $neutral-green-contrast;
  
//     @include medium {
//       font-size: 14px;
//       padding: 0 12px;
//     }
  
//     @include tablet {
//       font-size: 13px;
//     }
//   }
  
//   .header__banner-close {
//     background-color: transparent;
//     border-color: rgba(255, 255, 255, 0);
//     position: absolute;
//     right: 0;
//     width: 13px;
//     height: 13px;
//     transform: translate(-15px, 4px);
//     cursor: pointer;
//     padding: 0;
  
//     @include max-screen(340px) {
//       right: 0;
//     }
  
//     &::before,
//     &::after {
//       content: '';
//       position: absolute;
//       width: 18px;
//       height: 1px;
//       background-color: $neutral-green-add;
//       top: 0;
//       left: 0;
//     }
  
//     &::before {
//       transform: rotate(45deg);
//     }
  
//     &::after {
//       transform: rotate(-45deg);
//     }
//   }
  
//   .header__logo-link {
//     display: flex;
//     align-items: center;
  
//     svg {
//       width: 215px;
//       height: 38px;
//       margin-right: 55px;
  
//       @include max-screen(1340px) {
//         margin-right: 16px;
//       }
  
//       @include max-screen(1275px) {
//         margin-right: 10px;
//       }
  
//       @include max-screen(1240px) {
//         margin-right: 20px;
//       }
  
//       @include max-screen(1090px) {
//         width: 158px;
//       }
  
//       @include medium {
//         width: 175px;
//         height: 30px;
//         margin-top: 12px;
//         margin-right: 0;
//       }
  
//       @include phone {
//         margin-top: 0;
//       }
  
//       @include max-screen(350px) {
//         width: 150px;
//         display: flex;
//         align-items: center;
//       }
  
//       @include max-screen(320px) {
//         width: 120px;
//       }
  
//       @include max-screen(310px) {
//         width: 110px;
//       }
//     }
//   }
  
// .header__nav-block {
//     @include medium {
//       position: fixed;
//       top: 73px;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       z-index: 1000;
//       visibility: hidden;
//       opacity: 0;
//       width: 40%;
//       //height: 100vh;
//       transition: 0.2s ease-in-out;
//       overflow-y: hidden;
//       overflow-x: hidden;
//       -webkit-overflow-scrolling: touch;
//     }

//     @include max-screen(992px) {
//       width: 55%;
//     }

//     @include phone {
//       top: 73px;
//       width: 100%;
//     }

//     &--top-lg {
//       @include medium {
//         top: calc(var(--header-height));
//       }
//     }
// }
  
//   .header__nav-list {
//     display: flex;
//     align-items: center;
  
//     @include medium {
//       flex-direction: column;
//       justify-content: flex-start;
//       align-items: flex-start;
  
//       height: calc(var(--app-height) - var(--header-height) - var(--search-height));
//       padding: 0px 15px 30px;
//       margin: 0;
  
//       position: relative;
//       overflow-y: auto;
//       overflow-x: hidden;
  
//       background-color: $white;
//       -webkit-overflow-scrolling: touch;
//     }
  
//     @include phone {
//       width: 100%;
//       padding: 0 15px 30px;
//     }
  
//     &.dropdown-opened {
//       @media (max-width: 1024px) {
//         overflow-y: hidden;
  
//         >.desktop-hide {
//           opacity: 0;
//         }
//       }
  
//       /*.header__contacts {
//             @media (max-width: 1024px) {
//                 position: absolute;
//                 bottom: 0;
//                 z-index: 5;
//             }
//         }*/
//     }
//   }
  
//   .header__nav-item,
//   .nav-item {
//     position: relative;
//     padding: 0;
  
//     &:not(:last-of-type) {
//       margin-right: 14px;
  
//       @include max-screen(1090px) {
//         margin-right: 5px;
//       }
  
//       @include medium {
//         margin-right: 0;
//       }
//     }
  
//     @include medium {
//       padding: 24px 0 0;
//       width: 100%;
//       position: unset;
//     }
  
//     &:hover {
//       .header__nav-link {
//         background-color: $neutral-warm-middle;
  
//         @include medium {
//           background-color: transparent;
//         }
  
//         .icon-arrow-up {
//           transform: rotate(0deg);
//         }
//       }
  
//       .header__nav-dropdown {
//         opacity: 1;
//         visibility: visible;
//       }
//     }
  
//     &.active {
//       .header__nav-link {
//         background-color: $neutral-warm-middle;
  
//         @include medium {
//           background-color: transparent;
//         }
//       }
//     }
//   }
  
//   .header__nav-link {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 4px 14px;
//     border-radius: 40px;
//     background-color: $white;
//     font-weight: 500;
//     transition: all 0.2s ease-in-out;
  
//     @include medium {
//       padding: 0;
//       font-weight: 500;
//       font-size: 20px;
//       line-height: 1.3;
//     }
  
//     .icon-arrow-up {
//       //display: block;
//       margin-left: 4px;
//       font-size: 11px;
//       transform: rotate(180deg);
//       transition: all 0.2s ease-in-out;
//     }
  
//     .icon-nav-arrow {
//       margin-left: 16px;
//       font-size: 13px;
//     }
//   }
  
//   .header__nav-dropdown {
//     position: absolute;
//     top: 2.3rem;
//     opacity: 0;
//     visibility: hidden;
//     z-index: 2;
//     padding: 1.5rem 2rem;
  
//     background-color: $white;
//     box-shadow: $box-shadow-1;
//     border-radius: 16px;
//     width: max-content;
//     border: 1px solid #fff4d2;
  
//     @include medium {
//       padding: 0 15px;
//       border-radius: 0;
//       top: 0;
//       left: 0;
//       right: 0;
//       transform: translateX(200%);
//       transition: 0.3s ease-in-out;
//       visibility: visible;
//       opacity: 1;
//       box-shadow: none;
//       min-width: auto;
//       border: 0;
//     }
  
//     @include phone {
//       width: 100%;
  
//       transform: translateX(200%);
//     }
  
//     &.open {
//       @include medium {
//         width: 100%;
  
//         transform: none;
//       }
//     }
  
//     @media (max-width: 1024px) {
//       //height: calc(var(--app-height) - var(--header-height) - var(--search-height) - var(--header-contacts-height));
//       height: calc(var(--app-height) - var(--header-height) - var(--search-height));
//       min-height: 270px;
//       overflow-x: hidden;
//       overflow-y: auto;
//     }
//   }
  
//   .header__contacts {
//     padding-top: 16px;
  
//     background-color: #ffffff;
//   }
  
//   .header__nav-dropdown-wrapper {
//     display: grid;
//     grid-gap: 16px;
  
//     @include medium {
//       display: flex;
//       flex-wrap: wrap;
//       overflow-y: auto;
//       -webkit-overflow-scrolling: touch;
//       overflow-x: hidden;
//       grid-gap: 0;
//       position: relative;
//       padding: 0 0 40px;
//     }
  
//     @include phone {
//       max-height: 99em;
//       //max-height: 620px;
//     }
  
//     @include max-screen(376px) {
//       max-height: 460px;
//     }
  
//     &_2col {
//       @media (min-width: 1025px) {
//         grid-template-columns: repeat(2, 1fr);
//       }
//     }
  
//     &_3col {
//       @media (min-width: 1025px) {
//         grid-template-columns: repeat(3, 1fr);
//       }
//     }
  
//     &_4col {
//       @media (min-width: 1025px) {
//         grid-template-columns: repeat(3, 1fr);
//       }
  
//       @media (min-width: 1440px) {
//         grid-template-columns: repeat(4, 1fr);
//       }
//     }
//   }
  
//   .header__nav-dropdown-back-link {
//     background-color: transparent;
//     border-width: 0px;
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 1.3;
//     letter-spacing: -0.02em;
//     padding: 32px 0 0 0;
//     margin-bottom: 20px;
//     text-transform: capitalize;
  
//     .icon-nav-arrow {
//       margin-left: 0;
//       margin-right: 16px;
//       transform: rotate(-180deg);
//     }
//   }
  
//   .header__nav-dropdown-inner {
//     grid-row: span 12;
  
//     @include medium {
//       grid-row: auto;
//       flex-basis: 100%;
//       border-bottom: 1px solid $neutral-1;
//     }
  
//     .header__nav-dropdown-link--title {
//       position: relative;
//       padding-bottom: 3px;
//       display: inline-flex;
//       align-items: center;
//       margin-bottom: 21px;
//       color: $primary-1;
  
//       &.active {
//         .header__nav-dropdown-link-icon {
//           @include medium {
//             transform: rotate(270deg);
//           }
//         }
//       }
  
//       &:hover {
//         @include medium {
//           color: $neutral-1;
//         }
//       }
  
//       @include medium {
//         display: flex;
//         justify-content: space-between;
//         text-transform: inherit;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 1.3;
//         color: $neutral-1;
//         padding: 12px 4px 12px 0;
//         margin-bottom: 0;
//         text-transform: capitalize;
//       }
  
//       &::before {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         height: 1px;
//         background-color: $primary-1;
//         opacity: 0;
//         transition: all 0.2s ease-in-out;
  
//         @include medium {
//           height: 0;
//         }
//       }
//     }
//   }
  
//   .header__nav-dropdown-list {
//     min-width: 130px;
  
//     @include medium {
//       //padding-top: 12px;
//       padding-left: 15px;
//       //padding-bottom: 32px;
//       //display: none;
  
//       max-height: 0;
//       overflow: hidden;
//       transition: max-height 0.3s ease-out;
//     }
  
//     &:not(:last-of-type) {
//       margin-right: 30px;
//     }
//   }
  
//   .header__nav-dropdown-item {
//     &:first-of-type {
//       @include medium {
//         padding-top: 12px;
//       }
//     }
  
//     &:last-of-type {
//       @include medium {
//         padding-bottom: 32px;
//       }
//     }
  
//     &:not(:first-of-type) {
//       padding-top: 16px;
//     }
//   }
  
//   .header__nav-link {
//     color: $neutral-1;
//   }
  
//   .header__nav-dropdown-link {
//     color: $neutral-green-dark;
  
//     @include medium {
//       color: $neutral-gray-middle;
//       width: 100%;
//       font-size: 16px;
//       line-height: 1.5;
//       display: block;
//     }
  
//     &:hover {
//       color: $primary-1;
//     }
  
//     &_all {
//       color: $primary-1;
  
//       &:hover {
//         color: $neutral-green-dark;
//       }
  
//       @include medium {
//         span {
//           display: none;
//         }
//       }
  
//       /*@include medium {
//         color: $neutral-gray-middle;
  
//         &:hover {
//           &:hover {
//             color: $primary-1;
//           }
//         }
//       }*/
//     }
  
//     &--open {
//       .header__nav-dropdown-link-icon {
//         transform: rotate(270deg);
//       }
//     }
//   }
  
//   a.header__nav-dropdown-link--title {
//     //grid-column-start: 1;
//     max-width: 150px;
  
//     &:not(:first-of-type) {
//       @include medium {
//         padding-top: 16px;
//       }
//     }
  
//     @include medium {
//       max-width: 100%;
//     }
  
//     &.heading-tiny {
//       font-weight: 500;
//       font-size: 16px;
//       line-height: 1.4;
//       text-transform: capitalize;
//     }
//   }
  
//   .header__nav-dropdown-link-icon {
//     display: inline-block;
//     font-size: 9px;
//     margin-left: 11px;
  
//     @include medium {
//       margin-left: 0;
//       font-size: 14px;
//       transform: rotate(90deg);
//       transition: all .3s ease-in-out;
//     }
//   }
  
//   .header__nav-wrapper {
//     display: flex;
//     align-items: center;
//     flex-grow: 1;
//     justify-content: flex-end;
  
//     .btn {
//       margin-left: 8px;
  
//       @include medium {
//         border-radius: 0;
//       }
  
//       @include phone {
//         margin-left: 16px;
//       }
//     }
//   }
  
//   .header__nav-search {
//     position: relative;
  
//     @include medium {
//       padding-left: 15px;
//       padding-right: 15px;
//     }
  
//     .aws-container {
//       .aws-search-form {
  
//         &.aws-form-active,
//         &.aws-focus {
//           .aws-search-btn {
//             svg {
//               fill: $primary-1;
//             }
//           }
  
//           .aws-search-field {
//             color: $neutral-1;
//           }
//         }
  
//         .aws-search-field {
//           &:focus {
//             background-color: $neutral-white-light;
//           }
//         }
  
//         .aws-search-btn_icon {
//           height: auto;
//           line-height: 1;
//           padding-right: 24px;
//         }
  
//         .aws-search-btn {
//           &:hover {
//             svg {
//               fill: $primary-1;
//             }
//           }
  
//           svg {
//             transition: all 0.3s ease-in-out;
//             display: inline-block;
//             height: 20px;
//             width: 20px;
//             fill: $neutral-gray-middle-2;
//           }
//         }
//       }
//     }
//   }
  
//   .header__nav-search-input {
//     border-color: rgba(255, 255, 255, 0);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.4;
//     padding: 12px 24px;
//     border-radius: 128px;
//     background-color: $neutral-white-light;
//     color: $neutral-2;
  
//     @include max-screen(1240px) {
//       max-width: 220px;
//     }
  
//     @include medium {
//       max-width: 100%;
//       width: 100%;
//     }
  
//     &::placeholder {
//       color: $neutral-gray-medium;
//     }
//   }
  
//   .header__nav-search-btn {
//     width: 16px;
//     height: 16px;
//     border-width: 0;
//     padding: 0;
//     border-color: rgba(255, 255, 255, 0);
//     background-color: $neutral-white-light;
//     position: absolute;
//     right: 24px;
//     top: 50%;
//     transform: translateY(-50%);
//   }
  
// .header__nav-btn {
//     &.btn--transparent {
//         @include button-styles;
//         color: $color-green-dark;
//         padding: 13px 20px;
//         display: flex;
//         &:hover {
//           box-shadow: inset 0 0 0 1px #6f9238;
//           background-color: #6f9238;
//           color: #fff;
//         }
//         @include medium {
//           align-items: center;
//           box-shadow: none;
//           border-radius: 0;
//           background-color: transparent;
//           border-color: transparent;
//           color: #35523b;
//           padding: 0;
//           font-size: 14px;
//         }
//     }

//     display: flex;
//     align-items: center;

//     &:hover {
//       @include max-screen(1240px) {
//         box-shadow: none;
//         background-color: transparent;
//         border-color: transparent;
//         color: #35523B;
//         border-radius: 0;
//       }
//     }

//     &::before {
//       @include max-screen(1240px) {
//         content: none;
//       }
//     }

//     &:focus-visible {
//       outline: none;
//       box-shadow: 0 0 12px 0 $primary-1;
//     }

//     @include max-screen(1275px) {
//       padding-left: 15px;
//       padding-right: 15px;
//     }

//     @include max-screen(1240px) {
//       box-shadow: none;
//       border-radius: 0;
//       background-color: transparent;
//       border-color: transparent;
//       color: #35523B;
//       padding: 0;
//     }

//     @include medium {
//       display: flex;
//       align-items: center;
//       //padding: 5px 20px;
//     }

//     @include phone {
//       background-color: transparent;
//       border-color: transparent;
//       box-shadow: none;
//       color: $neutral-green-add;
//       padding: 0;
//     }
// }
  
//   .header__nav-btn-text {
//     order: 1;
  
//     @include max-screen(1240px) {
//       display: none;
//     }
  
//     @include medium {
//       margin-left: 5px;
//       display: inline-flex;
//       align-items: center
//     }
  
//     @include phone {
//       display: none;
//     }
//   }
  
//   .header__nav-backet-count {
//     order: 2;
//     padding-left: 4px;
  
//     @include medium {
//       padding-left: 0;
//       margin: 0 4px;
//       order: 2;
//       font-size: 14px;
//     }
//   }
  
// .header__nav-btn-icon {
//     font-size: 24px;
//     order: 0;
  
//     @include max-screen(1240px) {
//         display: block;
//     }
    
//     @include medium {
//       display: flex;
//     }

//     @include max-screen(320px) {
//         font-size: 18px;
//     }
// }
  
//   .header__nav-burger {
//     padding: 0;
//     border-width: 0;
//     background-color: $primary-1;
//     width: 42px;
//     height: 42px;
//     border-radius: 50%;
//     margin-left: 24px;
//     display: none;
//     flex-direction: column;
//     justify-content: center;
//     position: relative;
//     cursor: pointer;
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
//     @include medium {
//       display: flex;
//     }
  
//     .icon-burger {
//       color: $primary-1;
//       font-size: 42px;
//     }
//   }
  
//   .header__nav-burger-line {
//     height: 1px;
//     background-color: $white;
//     border-radius: 24px;
//     display: block;
//     margin-left: 13px;
//     transition: all .3s ease-in-out;
//     position: absolute;
  
//     &--top {
//       width: 17px;
//       top: 18px;
//     }
  
//     &--bottom {
//       margin-top: 4px;
//       width: 11px;
//       bottom: 18px;
//     }
//   }
  
//   .header__nav-mobile-menu {
//     margin-top: 64px;
//   }
  
//   .header__nav-mobile-menu-item {
//     margin-bottom: 24px;
  
//     &:last-of-type {
//       margin-bottom: 16px;
//     }
//   }
  
//   .header__nav-mobile-menu-link {
//     color: $neutral-gray;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.4;
//   }
  
//   .header__nav-mobile-contact-link {
//     font-size: 14px;
//     line-height: 1.4;
//     color: $neutral-gray;
//     display: block;
//     padding-bottom: 10px;
//   }
  
//   body.open-menu {
//     overflow: hidden;
  
//     .header__nav-burger-line--top {
//       transform: rotate(45deg);
//       top: auto;
//     }
  
//     .header__nav-burger-line--bottom {
//       width: 17px;
//       transform: rotate(-45deg);
//       margin-top: 0;
//       bottom: auto;
//     }
  
//     .root {
//       @include medium {
//         position: relative;
//       }
  
//       &::after {
//         @include medium {
//           content: '';
//           position: absolute;
//           top: 0;
//           left: 0;
//           width: 100%;
//           height: 100%;
//           background-color: rgba(0, 0, 0, 0.15);
//           z-index: 11;
//           transition: all .3s ease-in-out;
//         }
//       }
//     }
  
//     @include medium {
//       .header__nav-block {
//         visibility: visible;
//         opacity: 1;
//         background-color: $white;
//         //height: -webkit-fill-available;
//       }
//     }
//   }
  
// .header__nav-basket-btn {
//     @include button-styles;
//     background-color: #6f9238;
//     display: flex;
//     padding: 13px 20px;
    
//     @media (min-width: 1241px) {
//       padding-top: 8px;
//       padding-bottom: 8px;
//     }
  
//     .header__nav-btn-text {
//       display: none
//     }

//     &:hover {
//       color: $white;
//       text-decoration: none;
//     }

//     @include medium {
//         box-shadow: none;
//         background-color: transparent;
//         border-color: transparent;
//         color: #35523B;
//         padding: 0;
//     }
// }
  
//   .container__desktop-nav {
//     margin-top: -2rem;
//     background-color: $white;
  
//     @include medium {
//       margin-top: 0;
//     }
//   }