.infoblock {
    position: relative;
    background-color: $neutral-warm-light;
    z-index: 2;

    &--reverse {
        picture {
            right: 0;
            left: auto !important;
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 136px;

            @include min-screen(1398px) {
                width: 60% !important;
            }
        }

        .container {
            flex-direction: row-reverse;
        }
    }

    &--more-image {
        picture {
            @include min-screen(1398px) {
                width: 60% !important;
            }

            @include max-screen(1220px) {
                width: 60% !important;
            }

            @include medium {
                width: 100% !important;
            }
        }

        .infoblock__wrapper {
            @include min-screen(1398px) {
                flex-basis: 32%;
            }

            @include max-screen(1080px) {
                margin-right: 0.675rem;
            }

            @include medium {
                margin-right: 0;
                padding: 2.5rem 0;
                flex-basis: 100%;
            }
        }
    }

    &--about {
        @include medium {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            border-bottom-right-radius: 112px;
        }

        .infoblock__parallax {
            @include medium {
                top: auto;
                bottom: 120px !important;
            }

            @include phone {
                bottom: 170px !important;
            }
        }
    }

    &.section-padding-bottom--xxl {
        @include medium {
            padding-bottom: 0;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 672px;

        @include medium {
            min-height: auto;
        }
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 752px;
        overflow: hidden;
        object-fit: cover;
        border-bottom-right-radius: 136px;
        overflow: hidden;
        display: flex;
        align-items: center;

        @include min-screen(1398px) {
            width: 50%;
        }

        @include max-screen(1220px) {
            width: 55%;
        }

        @include medium {
            position: relative;
            width: 100%;
            height: 231px;
            border-bottom-right-radius: 112px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--about {
        margin-bottom: 120px;

        @include max-screen(1280px) {
            margin-bottom: 5rem;
        }

        @include medium {
            margin-bottom: 0;
        }

        .infoblock__wrapper {
            padding: 100px 0;

            @include max-screen(1399px) {
                padding: 100px 0;
            }

            @include tablet {
                padding: 3.75rem 0;
            }
        }

        .infoblock__parallax {
            left: 42%;
            bottom: -30%;

            @include min-screen(1398px) {
                left: 33%;
                bottom: -25%;
            }
        }
    }

    &_about {
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;

            background-color: transparent;
        }

        .container {
            @media (max-width: 1024px) {
                order: -1;

                background-color: $neutral-warm-light;
            }
        }

        .infoblock__parallax {
            @media (max-width: 1024px) {
                top: auto;
                right: 0;
                bottom: 0 !important;
            }
        }
    }
}

.hero--no-image+.infoblock {
    @include medium {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        border-bottom-right-radius: 112px;
    }

    .infoblock__parallax {
        @include medium {
            top: auto;
            bottom: 120px !important;
        }

        @include phone {
            bottom: 170px !important;
        }
    }
}

.infoblock__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 746px;
    overflow: hidden;
    object-fit: cover;
    border-bottom-right-radius: 136px;
    overflow: hidden;

    @include min-screen(1398px) {
        width: 50%;
    }

    @include medium {
        position: relative;
        width: 100%;
        height: 231px;
        border-bottom-right-radius: 112px;
    }
}

.infoblock__parallax {
    position: absolute;
    top: auto;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);

    @include min-screen(1398px) {
        left: 40%;
        bottom: -15%;
    }

    @include medium {
        bottom: auto !important;
        left: auto !important;
        right: 1rem;
        top: 150px;
        transform: none;
    }

    picture {
        position: relative;
        top: auto;
        left: auto;
        border-radius: 0;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: visible;

        img {
            object-fit: contain;
            height: auto;
            max-height: 335px;
            max-width: 294px;
            width: auto;

            @include medium {
                width: auto;
                height: 151px;
            }

            @include phone {
                max-height: 120px;
            }

        }
    }
}

.infoblock__wrapper {
    flex-basis: 360px;
    margin-right: 2.5rem;

    @include min-screen(1398px) {
        flex-basis: 40%;
    }

    @include max-screen(1080px) {
        margin-right: 0.675rem;
    }

    @include medium {
        margin-right: 0;
        padding: 2.5rem 0;
        flex-basis: 100%;
    }
}

.infoblock__heading {
    margin-bottom: 1.5rem;
}

.infoblock__caption {
    color: $neutral-gray-dark;
    margin-bottom: 0;
}

.infoblock__caption+.infoblock__caption {
    margin-top: 1.25rem;
}

.infoblock__btn {
    margin-top: 4rem;

    @include medium {
        margin-top: 3rem;
    }
}