.stamped-carousel-scroll-wrapper {
    margin-right: -24px;
    margin-left: -24px;

    .block {
        padding-left: 24px;
        padding-right: 24px;
    }

    .stamped-ratings-wrapper {
        padding: 28px !important;
        background-color: $white;
        border-radius: 16px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .stamped-reviews-date {
        padding-top: 28px !important;
        margin-right: 28px !important;
        position: absolute;
        top: 0;
        right: 0;
    }

    .stamped-reviews-title {
        margin: 0 !important;

        a {
            color: $neutral-gray-dark;
            margin-bottom: 24px !important;
            display: block;
        }
    }
}

#stamped-reviews-widget[data-widget-type=carousel] {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: $font-family-base;

    @include max-screen(690px) {
        width: 100% !important;
        margin: 0 !important;
        padding-top: 0;
        overflow: visible !important;
        position: relative;
    }

    .stamped-carousel-stars-wrapper {
        i {
            color: $neutral-warm-contrast;
        }
    }

    .stamped-carousel-title {
        flex-grow: 1;
        margin-bottom: 0 !important;
    }

    .stamped-carousel-subtitle {
        margin-top: 0 !important;

        @include max-screen(690px) {
            margin-right: 10px;
            margin-top: 10px !important;
            flex-basis: 100%;
        }
    }

    .stamped-carousel-buttons {
        width: auto !important;
        margin-right: 24px;
        order: 1;

        @include max-screen(690px) {
            margin-right: 0;
            flex-basis: 100%;
            justify-content: flex-end;
            display: flex;
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 0;
        }

        @include phone {
            top: 30px;
        }

        div {
            background-color: $white;
            box-shadow: $custom-box-shadow;
            border-radius: 50%;
            display: inline-flex !important;
            height: 50px !important;
            width: 50px !important;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;

            @include medium {
                background-color: transparent;
                box-shadow: none;
                height: 30px !important;
                width: 30px !important;
            }

            &::before {
                content: "\ea02" !important;
                font-family: "icon-font";
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: $neutral-gray;
                transition: all .3s ease-in-out;
            }

            &:hover {
                box-shadow: $box-shadow-1;

                @include medium {
                    box-shadow: none;
                }

                &::before {
                    color: $primary-1;
                }
            }
        }

        .stamped-carousel-button-left {
            &::before {
                transform: rotate(-90deg);
            }
        }

        .stamped-carousel-button-right {
            margin-left: 10px;

            &::before {
                transform: rotate(90deg);
            }
        }
    }

    .stamped-carousel-scroll {
        order: 2;

        @include phone {
            padding-top: 20px;
        }

        &::before {
            border-width: 0 !important;
        }

        .block {
            height: 100% !important;
            padding-bottom: 0 !important;
            position: relative;
        }

        .stamped-reviews-rating {
            padding-bottom: 5px;

            i {
                color: $neutral-warm-contrast;
            }
        }

        .stamped-reviews-image {
            padding: 0 !important;
            border-width: 0 !important;
            display: flex !important;
            margin-right: 0 !important;
            margin-bottom: 24px;
            align-items: flex-start;
            justify-content: space-between;
            width: 100% !important;
            height: auto !important;
            border-bottom: 1px solid $neutral-gray-extra !important;
            border-radius: 0 !important;
            padding: 0 !important;
            padding-bottom: 24px !important;

            img {
                position: relative !important;
                opacity: 1;
            }

            .stamped-reviews-link {
                flex-basis: 25%;
                height: 90px !important;
                color: $neutral-gray-dark !important;
            }

            .stamped-reviews-product-title {
                flex-basis: 70%;
                margin: 0 !important;
                font-weight: 600;
                font-size: 16px !important;
                line-height: 1.5;

                .stamped-reviews-link {
                    height: auto !important;
                }
            }
        }

        .stamped-reviews-message {
            margin-left: 0 !important;
            flex-basis: 100%;
            order: 2;

            @include max-screen(690px) {
                margin-left: 0 !important;
                transform: translateX(-100px);
                margin-right: -100%;
            }
        }

        .stamped-reviews-message-block {
            font-weight: 400;
            font-size: 16px !important;
            line-height: 1.5 !important;
            color: $neutral-2 !important;
            font-style: normal !important;
            font-family: $font-family-base !important;
        }

        .stamped-reviews-author {
            margin-left: 0 !important;
            font-size: 14px !important;
            line-height: 1.4;
            font-weight: 500 !important;
            color: $neutral-gray-dark;
            margin-top: 0 !important;
            margin-bottom: 16px;

            @include max-screen(690px) {
                flex-basis: 100%;
                margin-left: 100px !important;
                transform: translateX(-100px);
            }
        }
    }
}

.stamped-badge-caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: $color-grey-dark;
    letter-spacing: -0.2px;

    @include max-screen(1440px) {
        display: block;
    }
}

.stamped-main-widget {
    margin: 0 !important;
    overflow: visible !important;

    .stamped-container {
        max-width: 100% !important;
        font-family: $font-family-base !important;

        .stamped-tabs {
            border-bottom: 1px solid $neutral-gray-light !important;
        }
    }

    .stamped-header-title {
        color: $neutral-1;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: -0.02em;
    }

    .stamped-summary-keywords-list {
        max-width: 800px !important;

        li {
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 1.3 !important;
            border: 1px solid $neutral-gray !important;
            border-radius: 56px !important;
            color: $neutral-gray !important;
            background-color: $white !important;
            transition: all .3s ease-in-out;

            &:hover {
                border-color: $primary-1 !important;
                color: $primary-1 !important;
            }
        }
    }

    .stamped-reviews-filter-label {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: $neutral-1;
    }

    .stamped-reviews-search-input {
        border-color: $neutral-gray-light !important;
        border-radius: 40px !important;
        padding: 14px 34px;
        height: auto !important;
        color: $neutral-gray !important;
    }

    .stamped-review {
        flex-basis: 100%;
        margin-bottom: 56px !important;
        border-color: $neutral-gray-light !important;

        .author {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .stamped-review[data-verified=buyer] {
        .stamped-review-avatar {
            margin-right: 30px !important;

            &:before {
                color: $primary-1 !important;
            }
        }
    }

    .stamped-summary-actions-newquestion,
    .stamped-summary-actions-newreview {
        border-radius: 56px !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 1.3 !important;
        padding: 16px 48px !important;
        border-color: $primary-1 !important;
        color: $primary-1 !important;
        transition: all .3s ease-in-out;
        margin-bottom: 8px;

        &:hover {
            color: $white !important;
            background-color: $primary-1 !important;
        }
    }

    .stamped-verified-badge {
        color: $neutral-gray !important;
    }

    .stamped-review-content {
        margin-bottom: 40px !important;
    }

    .stamped-review-content-body {
        color: $neutral-2;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 1.5;
    }

    .stamped-review-header {
        .created {
            color: $neutral-gray !important;
        }
    }

    .stamped-review-header-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: -0.02em;
        margin-top: 20px !important;
        margin-bottom: 8px !important;
    }

    .stamped-review-product {
        a {
            color: $neutral-gray !important;
        }
    }

    .stamped-pagination {
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.3;
            color: $neutral-gray;
            transition: all .3s ease-in-out;

            &:hover {
                color: $primary-1;
            }
        }

        .previous,
        .next {
            a {
                border: 1px solid $neutral-gray;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: inline-flex;
                align-items: center;
                border-radius: 50%;
                padding: 0;
                justify-content: center;
            }
        }
    }
}

.new-review-form,
.new-question-form {
    .stamped-form-review-rating {
        input {
            margin-bottom: 0 !important;
        }
    }

    .stamped-starrating {
        a {
            color: $neutral-gray-light;
            margin-bottom: 9px;
        }
    }

    .stamped-form-actions {
        input {
            &.button {
                background-color: $primary-1 !important;
                border-radius: 56px;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: $neutral-1 !important;
                }
            }
        }
    }

    label {
        display: block;
        color: $neutral-1;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    input,
    textarea {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        padding: 14px 16px;
        border: 1px solid $neutral-gray-light;
        border-radius: 8px;
        color: $neutral-gray;
        margin-bottom: 24px !important;

        &::placeholder {
            color: $neutral-gray;
        }
    }
}

#stamped-reviews-widget[data-widget-type=carousel] .stamped-reviews-date,
#stamped-reviews-widget[data-widget-type=carousel] .stamped-carousel-scroll .stamped-reviews-message-block {
    color: $color-grey-dark !important;
}